Package: phi-adapter-hue
Version: 0.0~git20260218.c144376-1
Architecture: arm64
Maintainer: Marius Schumacher <marius.schumacher@phisys.com>
Installed-Size: 1355
Depends: libc6 (>= 2.29), libgcc-s1 (>= 3.0), libqt6core6t64 (>= 6.8.2), libqt6network6 (>= 6.1.2), libstdc++6 (>= 5)
Section: libs
Priority: optional
Homepage: https://github.com/phi-systems-tech/phi-adapter-hue
Description: PHI Philips Hue adapter plugin
 Plugin module for PHI core to integrate Philips Hue bridges and devices.
