Source: phi-adapter-hue
Section: libs
Priority: optional
Maintainer: Marius Schumacher <marius.schumacher@phisys.com>
Build-Depends: debhelper-compat (= 13), cmake, qt6-base-dev, phi-adapter-api-dev
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/phi-systems-tech/phi-adapter-hue

Package: phi-adapter-hue
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PHI Philips Hue adapter plugin
 Plugin module for PHI core to integrate Philips Hue bridges and devices.
